*,*::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

:root {
    --blue: darkcyan;
    --white: rgb(223, 240, 240);
   --correct: rgb(129, 236, 129);
    --black: rgb(34, 33, 33);
    --wrong: hsl(12, 74%, 46%);
    --lavander: rgb(28, 113, 173);
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.title, .time-text {
    font-family: Gotham Rounded;
    float: left;
    padding: 0 0 20px;
}
.container {
    width: 600px;
    max-width: 80%;
    font-size: 30px; 
    background-color: var(--white);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
.btn {
    color: var(--white);
    background-color: var(--lavander);
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;  
    font-size: 20px;
}

.btn:hover {
    cursor: pointer;
    border-color: var(--black);
    transform: scale(1.02);
    transform: transform 100ms;
}

.btn.correct {
    background-color: var(--correct);
}

.btn.wrong {
    background: var(--wrong);
}
.start-btn, .next-btn {
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;    
}
#start-btn:hover, #next-btn:hover{
    background-color: rgb(200, 208, 224);
    color: var(--black);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.title {
    display: block;
    height: 480px;
    position: relative;
}
.result {
    background: #fff;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
@media screen and (max-width: 768px) {
    body {
        min-width: 40rem;
    }
}